html {
  color: #87d8dd;
  background-color: #222;
  background-image: url("cats.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: calc(24px + 4.8vw);
  text-shadow:
    -1vw -1vw 2vw #000,
    1vw -1vw 2vw #000,
    -1vw 1vw 2vw #000,
    1vw 1vw 2vw #000;
  text-align: center;
}

div.tests {
  text-align: center;
  height: 40vw;
  max-height: 600px;
  align-items: center;
  justify-content: center;
}
div.menus {
  position: relative;
  top: calc(48px + 1vw);
}

button {
  background-color: #222;
  border: 0.2vw solid #87d8dd;
  border-radius: 4px;
  color: white;
  padding: 1vw 1.6vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 0.8vw);
  transition-duration: 0.4s;
  float: center;
  width: calc(42px + 8vw);
}

button:hover {
  background-color: #87d8dd;
  color: white;
}

button.test-result {
  margin-right: 10vw;
}
button.test-result:last-child {
  margin-right: 0px;
}
